.logo-section {
  background-color: #000;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.logo-section__image {
  height: 124px;
  width: 169px;
}

.logo-section__logo {
  width: 131px;
  height: 47px;
  margin-top: 10%;
}

@media screen and (max-width: 479px) {
  .logo-section {
    height: 75vh;
  }
  .logo-section__image {
    height: 99px;
    width: 139px;
    margin-top: -30%;
  }
  .logo-section__logo {
    width: 108px;
    height: 37px;
    margin-top: 20%;
  }
}
